{
  "presets": [
    ["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 8"]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-es2015-spread"
  ]/*,

  "env": {
    "production": {
      "presets": [

      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }*/

}