
@import '~typeface-cabin-sketch/index.css';

$font-title: 'Cabin Sketch', 'Quicksand';
//$font-title: 'Quicksand';

.main-wrapper {


  .layers {

    img.layer-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.9;
      z-index: -1;
    }


    .layer {
        .title {
          position: absolute;
          top: 40%;
          left: 10%;
          font-family: $font-title;
          font-size: 2em;
          z-index: 1;
          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing:antialiased;
          p {
            margin: 0;
          }
        }

      .timeline {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        border-top: 2px solid white;
      }

    }

  }

}